# junk folders
__pycache__/

# data set stuff
dataset/
artist_dataset/
artist_dataset_cropped/
artist_dataset_test/
artist_dataset_train/
artist_dataset_valid/
dataset/
dataset_crop_random/
dataset_crop/
era_dataset_test/
era_dataset_train/
era_dataset_valid/
*.zip
.vscode
*.pyc
*.pt
